{% extends 'base.html'%}

{% block content %}
  
  
<div class="col"> 
    <h1>{{ message }}</h1>
      <ul class="list-group">
        {% for product in products  %}
        <li class="list-group-item">{{ product.title }}</li>
        
          {% if product.stock %}
          <span class="text-success">Disponible</span>
          {% else %}
            <span class="text-danger">No Disponible</span>
          {% endif %}
        
        {% endfor %}
        |
        
      
      </ul>
</div>


{% endblock %}



